<table class="header-table">
  <tr>
    <td class="logo-cell">
      <img src="caminho/da/sua-logo.png" alt="Logo" class="logo-img">
    </td>
    <td class="historico-cell">
      <button class="btn">Histórico</button>
    </td>
    <td class="totais-cell">
      <button class="btn">Totais</button>
    </td>   
    <td class="spacer-cell"></td>
    <td class="login-cell">
      <button id="loginBtn" class="btn" (click)="onChangeBotaoLogin()">Login</button>
      <span id="userName" class="user-name"></span>
    </td>
  </tr>
</table>