<footer class="rodape-site">
  <div class="rodape-conteudo">
    <div class="rodape-coluna">
      <h4>Institucional</h4>
      <ul>
        <li>Trabalhe Conosco</li>
        <li>Quem Somos</li>
        <li>Política de Privacidade</li>
        <li>Termos de Uso</li>
      </ul>
    </div>
    <div class="rodape-coluna">
      <h4>Contato</h4>
      <ul>
        <li><p>Email: contato&#64;empresa.com</p></li>
        <li>Telefone: (11) 99999-9999</li>
      </ul>
    </div>
    <div class="rodape-coluna">
      <h4>Redes Sociais</h4>
      <ul>
        <li>Instagram</li>
        <li>LinkedIn</li>
        <li>Facebook</li>
      </ul>
    </div>
  </div>
  <div class="rodape-direitos">
    © <span id="anoAtual"></span> Sua Empresa. Todos os direitos reservados.
  </div>
</footer>
